---
layout: default
---
{% include category/title.html %}

<ul class="list-posts">
    {% assign empty_category = true %}
    {% for post in site.posts %}
        {% if post.categories contains page.category %}
            <li class="post-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="post-teaser__title">{{ post.title }}</span>
                    <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
                </a>
            </li>
            {% assign empty_category = false %}
        {% endif %}
    {% endfor %}

    {% if empty_category %}
        <li class="empty-post-list">
            唉，似乎还没有写任何东西，要不返回<a href="/blog">首页</a>再看看有没有其他的内容吧...
        </li>
    {% endif %}
</ul>

{% include page/explore.html %}
